<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{token.token_database_name}}</title>
    <style>

        body {
            background-color: #48c774;
        }

        #token {
            border: 1px solid black;
            word-wrap: break-word;
            width: 50%;
            height: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid blue;
            text-align: center;

        }

        div {
            /*border: 1px solid black;*/
        }

    </style>
</head>
<body>
<div>
    <a href="{{url_for('profile')}}">Inicio</a>
    <h1 style="text-align: center;">{{token.token_database_name}}</h1>
    <div>
        Token:
        <br>
        <div id="token" title="COPY">
            {{token.token_token}}
        </div>
        <span style="color: red; background-color: yellow">
            *Warning: DO NOT SHARE THIS TOKEN. KEEP IT PRIVATE!
        </span>
        <br>
        <span>
            Token use:<br>
            http://alextestdomain.duckdns.org:8245/api/v1/query/?q=[YOUR_SQL_QUERY]&token=[YOUR_TOKEN]
        </span>
    </div>
    <p>
        Creation: {{token.token_creation}}
    </p>
    <p>
        Active: {{'true' if token.token_active == 1 else 'false'}}
    </p>
    {% if token.token_active != 1 and token.token_activation_code != ''%}
    <p>
        Code expires on: {{token.token_activation_code_expiration}}
        <a href="{{url_for('database_create', token_id=token.token_id)}}">Enter code</a>
    </p>
    {%endif%}
    <hr>
    <div>
        <h3 style="text-align: center">Requests</h3>
        <table>
            <tbody>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Database response</th>
                <th>Error message</th>
            </tr>
            {% for use in uses %}

            <tr>
                <td>{{use.use_creation}}</td>
                <td style='color: {{"black" if use.data["status"] < 400 else "red"}};'>{{use.data['status']}}</td>
                <td>
                    {% if use.data['database_response']%}
                    <table>
                        <tbody>
                        <tr>
                            <th>Status</th>
                            <th>Query</th>
                            <th>Error message</th>
                        </tr>
                        <tr>
                            <td style='color: {{"black" if use.data['database_response']['status'] < 400 else "red"}};'>{{use.data['database_response']['status']}}</td>
                            <td>{{use.data['database_response']['query']}}</td>
                            <td>{{use.data['database_response']['error_message']}}</td>

                        </tr>
                        </tbody>
                    </table>
                    {% else %}
                    null
                    {% endif %}
                </td>
                <td>
                    {{use.data['error_message'] if use.data['error_message'] else 'null'}}
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>


    </div>

</div>

</body>
</html>